.header {
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    margin: 1px;
    padding-top: 2%;
    padding-bottom: 2%;
    background: rgb(254,255,0);
    background: linear-gradient(90deg, rgba(254,255,0,1) 0%, rgba(0,195,27,1) 0%, rgba(0,255,239,1) 48%, rgba(9,9,121,1) 100%);
}

h2 {
    padding-top: 1%;
    margin-top: 0%;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: white;
}
h3 {
    padding-top: 1%;
    margin-top: -15%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

html {
    background-color: #005c2d;
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
}

html input {
    box-shadow:inset 0px 10px 0px -21px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border:2px solid #808080;
    margin-left: 4px;
}


.main-content {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 20px;
    padding-bottom: 25%;
    background-color: whitesmoke;
    text-align: center;
    
}

/* #about {
    align-self: right;

} */

#parameters {
    
    display: none;
    align-content: center;
    text-align: center;
}

#parameter-override {
    display: flex;
    justify-content: space-evenly;
    text-align: initial;
}
#parameter-override li {
    list-style-type: none;
}
#parameter-override li input{
    list-style-type: none;
    width: 4vw;
}

#submit-params {
    /* width: 10%; */
    left: 10%;
    margin-top: 10%;


}

#guide {    
    display: none;
    align-content: center;
    text-align: center;
}

.flexItem {
    align-content: center;
    width: 35%;
    margin-left: 8%;
}

input[type=number]{
    font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    background-color: #9fdebd;
    color: black;
    font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
    
}



.content p {
    opacity: 70%;
}
.content img {
    margin-left: 8vw;
}

/* 
#canvas {
    padding-top: 2%;
} */

.input-box {
    width: 3%;
}
#playback-settings {
    margin-top: 1%;
}

#gridConfig { 
    display: flex;
    justify-content: center;
    /* background: #094b2a; */
}  
#gridConfig label { 
    font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
    margin-top: 7px;
    
}  

html, body {
    margin: 0px;
}

#canvas {

    height: 80vh;

    /* margin-top: 2%; */
    margin-left: 2%;
    /* margin-right: 10%;  */
    top: 2%;
    right: 0px;
    bottom: 0px;
    left: 0px;

    
}

/* #canvas-score-container {
    display:grid;
} */

.sidenav {
    height: 80%;
    width: 10vw; /* Set the width of the sidebar */
    position: fixed;
    /* z-index: 1; Stay on top */
    /* top: 15%; */
    right: 2%;
    background-color: #1c9758; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
    color: white;
  }

#stats {
    color: white;
    /* -webkit-text-stroke: 1px black; */
    font-size: 16px;
}

#stats li {
    display: inline;
    padding-right: 15px;
    margin: 0%;
    font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
    margin-top: 7px;
    
}

#duration-entries {
    text-align: center;
}

#entries {
    margin-right: 35%;
}

#entries li {
    list-style: none;
    font-size: 1vw;
}


.box {
    /* margin-bottom: 2%; */
    /* padding: 2%; */
    text-align: center;
    /* background: #    094b2a; */
    /* color: white; */
    /* font-size: 30px; */
    margin-top: 1%;

}

.input-box {
    margin-right: 1%;
}

button {
	box-shadow:inset 0px 10px 0px -21px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border:3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
	padding:3px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

button:disabled,
button[disabled]{
  border: 1px solid #000000;
  background-color: #000000;
  color:#dadada;
  opacity: 50%;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 10vw;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }